Considerations of the interaction with other IKE extensions

Valery wrote:

~~~~
I still think that we need to specify how optimized rekey is supposed to interact with other
IKE extensions. In particular:

a)	RFC 9370 (Multiple Key Exchanges) – I think we should specify that if old SA was negotiated
with multiple key exchanges, then the same key exchanges should take place when optimized rekey is used.
b)	RFC 6023 (Childless IKE SA) – while no Child SA is negotiated in IKE_AUTH (and peers don’t know
whether they will be negotiated later), support for optimized rekey is still worth to negotiate, even for IKE SA rekey only.
c)	RFC 5723 (Resumption) – I think we should specify that negotiated support for optimized rekey 
persists after resumption.
~~~~